
# 应用服务 WEB 访问端口
server:
  tomcat:
    uri-encoding: UTF-8
    accept-count: 1000
    threads:
      min-spare: 10
      max: 1000
  port: 8888




spring:
  profiles:
    include: api
  redis:
    jedis:
      pool:
        max-idle: 8
        max-active: 8
        min-idle: 0
        max-wait: 5000
