<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>游戏中</title>
  <link rel="stylesheet" type="text/css" href="../css/login.css"/>
  <link rel="stylesheet" href="../plugins/elementui/index.css">
  <link rel="stylesheet" href="../plugins/font-awesome/css/font-awesome.min.css">
  <script type="text/javascript" src="../js/jquery.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue"></script>
  <script src="../plugins/elementui/index.js"></script>
  <script src="../js/axios-0.18.0.js"></script>
</head>
<body>
  <div align="center" style="width: 100%; height:100%; margin: 0 auto; overflow:auto" id="firstVue">
    <tr>
      <h2>游戏大厅</h2>
    </tr>
    <tr>
      <div id="imgShow">
        <img src="../img/tuli.png" style="width: 500px">
      </div>
      <div id="destroyShow">
        输入要关闭的房间号码:
      <input type="text" id="destroyRoom" name="destroyRoom" style="height: 5px"/>
      <button @click="destroyRoom()">关闭</button><br>
        <h3 style="color: red">此为管理员账号请不要加入任何房间</h3>
      </div>
    </tr>
    <tr>
      <template v-for='(item,index) in imgs'>
    <tr v-if='index%2==0'>
      <td>
        <div style="position: relative">
          <img :src="item.url">
          <span style="position: absolute;bottom: 0; left: 100px;top: 140px">
            房间号:
          </span>
          <span style="position: absolute;bottom: 0; left: 100px;top: 160px">
            {{item.roomId}}
          </span>
        </div>
          </br>
          <button  :roomId="item.roomId" @click="joinRoom(item.roomId)"  v-show="item.manNum < 4">加入房间</button>
          <button  :roomId="item.roomId" @click="joinRoom(item.roomId)" disabled="disabled" v-show="item.manNum >= 4">人员已满</button>
      </td>
      <td v-if='index+1<imgs.length'>
        <div style="position: relative">
          <img :src="imgs[index+1].url">
          <span style="position: absolute;bottom: 0; left: 100px;top: 140px">
            房间号:
          </span>
          <span style="position: absolute;bottom: 0; left: 100px;top: 160px">
            {{imgs[index+1].roomId}}
          </span>
        </div>
          <br>
          <button :roomId="imgs[index+1].roomId" @click="joinRoom(imgs[index+1].roomId)" v-show="imgs[index+1].manNum < 4">加入房间</button>
          <button :roomId="imgs[index+1].roomId" @click="joinRoom(imgs[index+1].roomId)" disabled="disabled" v-show="imgs[index+1].manNum >= 4">房间人员已满</button>
      </td>
    </tr>
    </template>
    </tr>
    <tr>
      <button @click="creatRoom()"> 创建房间</button>
    </tr>
  </div>
</body>
<script type="text/javascript">
  var myVue = new Vue({
    backend_url:"http://localhost:8888",
    el: "#firstVue",
    data: {
      //imgName: "../img/full.png"
      imgs: [
          {url: "",
            roomId:"",
          manNum:0}
      ],
      versionType:"",
      userName:"",
      timer:"",
      isFull:true
    },
    created:function () {
      this.getUserName();
      this.init();
      this.timer = setInterval(this.init, 3000);
    },
    beforeDestroy() {
      clearInterval(this.timer);
    },
    methods:{
      destroyRoom(){
        var destroyRoomId = $("#destroyRoom").val();
        axios.get("/api/goods/room/"+destroyRoomId+"/destroyRoom").then((response)=>{
          console.log(111)
          if (response.data.code == 'SUCCESS') {
            alert("关闭房间成功")
          }else {
            alert("关闭房间失败")
          }

        });
      },
      creatRoom(){
        var versionType = this.versionType
        if (this.isFull == true){
          axios.get("/api/goods/room/createRoom").then((response)=>{
            if (response.data.code == 'SUCCESS') {
              //创建成功加入房间
              var roomid = response.data.roomId
              axios.get("/api/goods/user/"+this.userName+"/"+roomid+"/enterRoom").then((res) =>{
                if (response.data.code == 'SUCCESS'){
                  location.href="wait.html?roomId="+roomid+"&userName="+this.userName+"&versionType="+versionType
                }
              })

            }
          });

        } else {
          alert("请优先加入有位置的房间!")
        }
      },
      joinRoom(data){
        var versionType = this.versionType
        axios.get("/api/goods/user/"+this.userName+"/"+data+"/enterRoom").then((response) =>{
          if (response.data.code == 'SUCCESS') {
             location.href="wait.html?roomId="+data+"&userName="+this.userName+"&versionType="+versionType
          }
        })
      },
      getUserName(){
        var url = location.search //获取url中"?"符后的字串 ('?modFlag=business&role=1')
        var theRequest = new Object()
        if (url.indexOf('?') != -1) {
          var str = url.substr(1) //substr()方法返回从参数值开始到结束的字符串；
          var strs = str.split('&')
          for (var i = 0; i < strs.length; i++) {
            theRequest[strs[i].split('=')[0]] = strs[i].split('=')[1]
          }
          this.userName = theRequest.userName
          this.versionType = theRequest.versionType
          let u= decodeURI(this.userName)
          if (u == '浓缩豆浆'){
            document.getElementById("imgShow").style.display="none";
          } else {
            document.getElementById("destroyShow").style.display="none";

          }
        }
      },
      init(){
          axios.get("/api/goods/room/getHallInfo").then((response) => {
            console.log(response.data);
            this.isFull = response.data.isFull
            if(response.data.code == 'SUCCESS'){
              this.imgs = []
              for (let item of response.data.resMap) {
                var img = {url:"",roomId:"",manNum:0}
                if (item.manNum == 0){
                  img.url = '../img/isNoLogin.png'
                }else if(item.manNum == 1){
                  img.url = '../img/haveOneMan.png'
                }else if (item.manNum == 2) {
                  img.url = '../img/haveTwoMan.png'
                }else if (item.manNum == 3) {
                  img.url = '../img/haveThreeMan.png'
                }else {
                  img.url = '../img/full.png'
                }
                img.roomId = item.roomNum
                img.manNum=item.manNum
                if (img.url != '' && img.roomId != ''){
                  this.imgs.push(img)
                }
              }
            }
          });
      }

    }
  })
</script>
</html>